<h1 class="text-info">{{ 'search.title' | translate }}</h1>
<hr>

<div class="row">
  <div class="col-md-12">
    <h2>{{ 'search.subtitle' | translate }} '{{ text }}'</h2>
    <p>{{ totalResults }} {{ 'search.results' | translate }}.</p>
    <hr>
    <ul class="row list-unstyled">
      <li class="col-md-6 d-flex align-items-stretch" *ngFor="let movie of movies">
        <div class="card mb-2">
          <div class="card-body">
            <app-movie [movie]="movie"></app-movie>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="row mb-5">
  <div class="col-md-12 text-center">
    <button 
      class="btn btn-outline-info text-center"
      (click)="loadMore()"
      *ngIf="movies.length < totalResults">
      {{ 'search.btnPlus' | translate }}
    </button>
  </div>
</div>