<h1 class="text-info">Favoritos</h1>
<hr>

<div class="row">
  <div class="col-md-12">
    <h2>Sua lista de favoritos</h2>
    <p>você possui {{ favorits.length }} filmes em sua lista de favoritos.</p>
    <hr>
    <p *ngIf="favorits.length === 0">Nenhum item adicionado a lista de favoritos</p>
    <ul class="row list-unstyled">
      <li class="col-md-6 d-flex align-items-stretch" *ngFor="let movie of favorits">
        <div class="card mb-2">
          <div class="card-body">
            <app-movie [movie]="movie"></app-movie>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>