<div class="row" [@detailAppeared]="detailState">
    <div class="col-12">
        <h1>{{detail | json}}</h1>
    </div>
    <div class="col-12">
        <button class="btn btn-info">Voltar</button>
    </div>
</div>

<!-- <img class="img-thumbnail" [src]="'https://image.tmdb.org/t/p/w250_and_h141_face' + detail.backdrop_path" [alt]="movie.title"> -->

<!-- https://image.tmdb.org/t/p/w500_and_h282_face/mabuNsGJgRuCTuGqjFkWe1xdu19.jpg -->

<!-- https://www.themoviedb.org/talk/53c11d4ec3a3684cf4006400 -->