/* titles */
h1 {
  font-size: 24px;
}
h2 {
  font-size: 20px;
}
h3 {
  font-size: 18px;
}
h4 {
  font-size: 16px;
}
h5 {
  font-size: 14px;
}
h6 {
  font-size: 12px;
}
/* scroll bar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  -webkit-border-radius: 16px;
}
:-webkit-scrollbar-track-piece {
  background-color: #ffffff;
  -webkit-border-radius: 3px;
}
::-webkit-scrollbar-thumb:vertical {
  height: 5px;
  background-color: #ccc;
  -webkit-border-radius: 3px;
}
::-webkit-scrollbar-thumb:horizontal {
  width: 5px;
  background-color: #ccc;
  -webkit-border-radius: 3px;
}