.footer {
    width: 100%;
    padding: 12px 0;
    background-color: #f5f5f5;
    -webkit-box-shadow: 0px -5px 37px 0px rgba(204,204,204,1);
    -moz-box-shadow: 0px -5px 37px 0px rgba(204,204,204,1);
    box-shadow: 0px -5px 37px 0px rgba(204,204,204,1);
    z-index: 1;
}