<div class="row" [@movieAppeared]="movieState">
  <div class="col-md-4">
    <img class="img-thumbnail" [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path" [alt]="movie.title">
  </div>
  <div class="col-md-8">
    <dl class="movie">
      <dt>Título</dt>
      <dd>{{ movie.title }}</dd>
      <dt>Data do lançamento</dt>
      <dd>{{ movie.release_date | date: 'longDate' }}</dd>
      <dt>Visão geral</dt>
      <dd [title]="movie.overview">{{ movie.overview | slice:0:100}} ...</dd>
    </dl>
    <button 
      class="btn btn-sm btn-info"
      [routerLink]="['/movies', movie.id]">
     + informações
    </button>
  </div>
</div>